table{
    margin-top: 8em;
    margin-left: 42%;
}
td {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 2%;
}

.xplayer{
    background-color: red;
}

.oplayer{
    background-color: blue;

}

.xplayerclick{
    background-color: red;
}

.oplayerclick{
    background-color: blue;

}
#winnerText{
    text-align: center;
    
}

.draw{
    background-color: slategrey;
}

.rstDiv{
    max-width: 30%;
    margin: 20px auto;
}

#rst{
    max-width: 30%;
    padding: 1.33;
    background-color: tomato;
    border-radius: 2%;
    float: right;
}